.more{
    width: 1020px;
    height: 450px;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.more_container ul{
    width: 800px;
    position: relative;
    left: 100px;
    top: 20px;
}
.more li{
    border-bottom: 0.5px solid #dcdcdc;
    height: 36px;
}
.more_container li a{
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
.clearfix{display:block}
.pager { margin-top:15px; }
.pager ul { float:right;list-style:none; }
.pager ul li { float:left; border:1px solid #efefef; line-height:18px; padding:0 3px; margin:0 1px; display:inline; list-style: none}
.pager ul li .current { font-weight:bold; color: #ab1298; list-style: none }